@import 'styles/global/variables.scss';
@import 'styles/global/mixins.module.scss';

.Button {
  position: relative;
  border: none;
  width: 100%;
  height: $height-button;
  max-height: 100%;
  padding: 0 10px;
  border-radius: $radius-round;
  background: $color-accent;
  color: $color-main;

  @include font-button;
  @include flex-center;

  text-align: center;
  transition: scale $fast-transition ease;

  &:active {
    scale: $scale-medium;
  }

  &_disabled {
    pointer-events: none;
    opacity: 0.6;

    svg {
      fill: $color-main;
      max-height: 100%;
    }
  }
}
