@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  src: url('../../public/static/fonts/Rubik-Light.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url('../../public/static/fonts/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url('../../public/static/fonts/Rubik-Medium.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  src: url('../../public/static/fonts/Rubik-SemiBold.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src: url('../../public/static/fonts/Rubik-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../../public/static/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../../public/static/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('../../public/static/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../../public/static/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('../../public/static/fonts/Poppins-Bold.ttf');
}
