$content-width: 530px;

$color-accent: #635ce8;
$color-accent-transparent: rgba(99, 92, 232, 0.05);
$color-error: #eb5757;
$color-success: #33c173;

$color-secondary: #000000;
$color-secondary-light: #eaeaea;

$color-main: #ffffff;
$color-main-accent: #8b8b8b;

$color-unactive: #d4d4d4;

$color-labels: #333333;

$color-modal-bg: rgba(0, 0, 0, 0.5);

$color-gradient-left: #bc9529;
$color-gradient-right: #012194;

$border: 1px solid;

$radius-circle: 50%;
$radius-round: 30px;
$radius-input: 15px;
$radius-small: 5px;

$margin-label: 10px;
$margin-title: 30px;
$margin-gap: 20px;
$padding-page: 100px;

$padding-block: 30px;
$padding-input-vertical: 16.5px;
$padding-input-horizontal: 14px;

$fast-transition: 0.2s;
$medium-transition: 0.4s;
$slow-transition: 0.6s;

$height-button: 60px;
$height-modal-button: 50px;
$height-wave: 60px;
$height-wave-corner-svg: 40px;
$height-widget-window: 260px;

$size-avatar: 110px;

$font-size-small: 12px;
$font-size-default: 14px;
$font-size-input: 16px;
$font-size-title: 22px;
$font-size-page-title: 30px;
$font-size-avatar: 60px;

$font-family-default: "Rubik";

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$scale-heavy: 0.9;
$scale-medium: 0.95;
$scale-light: 0.98;